.card-img{
  padding: 78px;
  border-bottom: 3px solid #3b5998;
  text-align: center;
}
.img-card{
  width: 122px;
  height: 134px;
  border-radius: 51px;
}
.card{
  height: 30rem;
  border:5px solid #3b5998;
}
.card-text{
  border-bottom: 1px solid #3b5998;
}

