<div class="col-md-6 mx-auto text-center" style="position: relative;left: 23%;">
  <div class="card bg-blue mb-3 mt-5 align-self-center mr-3 text-center">
    <div class="card-header bg-light border-secondary">
      <h4 class="text-danger">Forgot Password ?</h4>
    </div>
    <div class="card-body text-secondary">
    <div>
      <div class="form-group">
        <label class="text-danger float-left">Email</label>
        <input type="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <label class="text-danger float-left">DOB</label>
        <input type="date" class="form-control">
      </div>
    </div>
    </div>
    <div class="card-footer bg-white border-0 border-secondary">
      <button class="btn btn-primary float-right" [routerLink]="['/reset_password']">GO</button>
    </div>
  </div>
</div>


