<div class="col-md-6">
  <div class="card bg-blue mb-3 mt-5 align-self-center mr-3 text-center">
    <div class="card-header bg-light border-secondary">
      <h4 class="text-danger">Login</h4>
    </div>
    <div class="card-body text-secondary">
    <div>
      <div class="form-group">
        <label class="text-danger float-left">Username</label>
        <input type="text" class="form-control" placeholder="Firstname">
      </div>
      <div class="form-group">
        <label class="text-danger float-left">Password</label>
        <input type="password" class="form-control" placeholder="password">
      </div>
    </div>
    </div>
    <div class="card-footer bg-white border-0 border-secondary">
      <a class="btn btn-link float-left"  href="#" [routerLink]="['/forgot_password']">Forgot Password?</a>
      <a class="btn btn-link float-right" href="#" [routerLink]="['/login']">Login</a>
    </div>
  </div>
</div>

