<div class="container">
  <div class="row">
    <div class="col-md-4">
       <app-user-profile></app-user-profile>
    </div>
    <div class="col-md-8">
      <div class="upload_post_box mt-5">
        <div class="input_write_post">
          <div class="col-md-8">
            <input type="text" placeholder="write new post/upload pics" class="form-control mt-5">
          </div>
          <div>
            <button class="btn btn-primary mt-5">POST</button>
          </div>
        </div>
        <div class="all_posts mt-5 col-md-12">
          <div class="card text-center">
            <div class="card-body">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-muted text-dark float-end">
              updated 12mins ago
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
