<div class="col-md-6 mx-auto text-center" style="position: relative;left: 23%;">
  <div class="card bg-blue mb-3 mt-5 align-self-center mr-3 text-center">
    <div class="card-header bg-light border-secondary">
      <h4 class="text-danger">Reset Password </h4>
    </div>
    <div class="card-body text-secondary">
    <div>
      <div class="form-group">
        <label class="text-danger float-left">Password</label>
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <label class="text-danger float-left">Confirm Password</label>
        <input type="password" class="form-control" placeholder="Password">
      </div>
    </div>
    </div>
    <div class="card-footer bg-white border-0 border-secondary">
      <button class="btn btn-primary float-right">RESET</button>
    </div>
  </div>
</div>



